body{
  text-align: center;
  height: 100%;
  font-family: roboto;
  margin: 25px;
}

.hero-image{
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(images/background1.jpg) no-repeat center;
  background-size: cover;
}

.site-logo{
  padding-top: 10%;
}

.hero-text{
  padding-top: 30px;
  color: white;
}

.hero-image2{
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(images/background3.jpg) no-repeat center;
  background-size: cover;
}

.hero-text2{
  color: white;
  margin-top: 200px;
}

.services{
  font-size: 30px;
}

.show{
  display: none;
}

.hero-image3{
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(images/background2.jpg) no-repeat center;
  background-size: cover;
}

.hero-text3{
  color: white;
  margin-top: 90px;
}

.cards {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: rbga(0,0,0,0.582);
  cursor: pointer;
  display: none;
  transition: all 0.5s ease;
}

.para {
  padding: 5% 0;
  color:aliceblue;
  background-color: black;
  padding: 50px 10px;
  font-weight: 100%;
  padding-top: 30px;
  font-size: 1.2em;
  overflow: hidden;
  line-height: 90%;
  border: 4px;
}

.btn{
  background-color: transparent;
}

.form-control{
  background-color: transparent;
  color: white;
}

.hero-text3{
  color: white;
}