body{
  text-align: center;
  height: 100%;
  font-family: roboto;
  margin: 25px;
}

.hero-image{
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(images/background1.jpg) no-repeat center;
  background-size: cover;
}

.site-logo{
  padding-top: 10%;
}

.hero-text{
  padding-top: 30px;
  color: white;
}

.hero-image2{
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(images/background3.jpg) no-repeat center;
  background-size: cover;
}

.hero-text2{
  color: white;
  margin-top: 200px;
}

.services{
  font-size: 30px;
}


.words{
  display: none;
}

#design,#development,#product{
  cursor:pointer;
}

.hero-image3{
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(images/background2.jpg) no-repeat center;
  background-size: cover;
}

.hero-text3{
  color: white;
  margin-top: 90px;
}

.class1-overlay,
.class2-overlay,
.class3-overlay,
.class4-overlay,
.class5-overlay,
.class6-overlay,
.class7-overlay,
.class8-overlay {
  background-color: black;
  opacity: 0.7;
  cursor: pointer;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6,
.project7,
.project8{
  position: relative;
}


.para {
  padding: 5% 0;
  color:aliceblue;
  background-color: black;
  padding: 50px 10px;
  font-weight: 100%;
  padding-top: 30px;
  font-size: 1.2em;
  overflow: hidden;
  line-height: 90%;
  border: 4px;
}

.btn{
  background-color: transparent;
}

.form-control{
  background-color: transparent;
  color: white;
}

.hero-text3{
  color: white;
}